<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='collection-styles.css') }}" rel="stylesheet">    
  </head>
  <body>
    <div class="collection">
      <div class="div">
        <div class="overlap-group">
          <div class="group"><div class="rectangle"></div></div>
          <div class="text-wrapper">Your Vinyls</div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="rectangle-6"></div>
          <div class="rectangle-7"></div>
          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <div class="rectangle-10"></div>
          <div class="rectangle-11"></div>
          <div class="rectangle-12"></div>
          <div class="rectangle-13"></div>
          <div class="rectangle-14"></div>
          <div class="rectangle-15"></div>
          <div class="rectangle-16"></div>
          <div class="rectangle-14"></div>
          <div class="rectangle-15"></div>
          <div class="rectangle-16"></div>
          <p class="out-of-our-heads">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-2">The Rolling Stones</div>
          <div class="text-wrapper-3">XARL-6791-2A</div>
          <div class="text-wrapper-4">£27.89</div>
          <div class="text-wrapper-5">Finyl Suggested Price</div>
          <p class="p">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-6">The Rolling Stones</div>
          <div class="text-wrapper-7">XARL-6791-2A</div>
          <div class="text-wrapper-8">£27.89</div>
          <div class="text-wrapper-9">Finyl Suggested Price</div>
          <p class="out-of-our-heads-2">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-10">The Rolling Stones</div>
          <div class="text-wrapper-11">XARL-6791-2A</div>
          <div class="text-wrapper-12">£27.89</div>
          <div class="text-wrapper-13">Finyl Suggested Price</div>
          <p class="out-of-our-heads-3">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-14">The Rolling Stones</div>
          <div class="text-wrapper-15">XARL-6791-2A</div>
          <div class="text-wrapper-16">£27.89</div>
          <div class="text-wrapper-17">Finyl Suggested Price</div>
          <p class="out-of-our-heads-4">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-18">The Rolling Stones</div>
          <div class="text-wrapper-19">XARL-6791-2A</div>
          <div class="text-wrapper-20">£27.89</div>
          <div class="text-wrapper-21">Finyl Suggested Price</div>
          <p class="out-of-our-heads-5">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-22">The Rolling Stones</div>
          <div class="text-wrapper-23">XARL-6791-2A</div>
          <div class="text-wrapper-24">£27.89</div>
          <div class="text-wrapper-25">Finyl Suggested Price</div>
          <p class="out-of-our-heads-6">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-26">The Rolling Stones</div>
          <div class="text-wrapper-27">XARL-6791-2A</div>
          <div class="text-wrapper-28">£27.89</div>
          <div class="text-wrapper-29">Finyl Suggested Price</div>
          <p class="out-of-our-heads-7">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-30">The Rolling Stones</div>
          <div class="text-wrapper-31">XARL-6791-2A</div>
          <div class="text-wrapper-32">£27.89</div>
          <div class="text-wrapper-33">Finyl Suggested Price</div>
          <p class="out-of-our-heads-8">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-34">The Rolling Stones</div>
          <div class="text-wrapper-35">XARL-6791-2A</div>
          <div class="text-wrapper-36">£27.89</div>
          <div class="text-wrapper-37">Finyl Suggested Price</div>
          <p class="out-of-our-heads-9">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-38">The Rolling Stones</div>
          <div class="text-wrapper-39">XARL-6791-2A</div>
          <div class="text-wrapper-40">£27.89</div>
          <div class="text-wrapper-41">Finyl Suggested Price</div>
          <p class="out-of-our-heads-10">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-42">The Rolling Stones</div>
          <div class="text-wrapper-43">XARL-6791-2A</div>
          <div class="text-wrapper-44">£27.89</div>
          <div class="text-wrapper-45">Finyl Suggested Price</div>
          <p class="out-of-our-heads-11">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-46">The Rolling Stones</div>
          <div class="text-wrapper-47">XARL-6791-2A</div>
          <div class="text-wrapper-48">£27.89</div>
          <div class="text-wrapper-49">Finyl Suggested Price</div>
          <p class="out-of-our-heads-12">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-50">The Rolling Stones</div>
          <div class="text-wrapper-51">XARL-6791-2A</div>
          <div class="text-wrapper-52">£27.89</div>
          <div class="text-wrapper-53">Finyl Suggested Price</div>
          <p class="out-of-our-heads-13">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-54">The Rolling Stones</div>
          <div class="text-wrapper-55">XARL-6791-2A</div>
          <div class="text-wrapper-56">£27.89</div>
          <div class="text-wrapper-57">Finyl Suggested Price</div>
          <p class="out-of-our-heads-14">Out of Our Heads<br />- 1965</p>
          <div class="text-wrapper-58">The Rolling Stones</div>
          <div class="text-wrapper-59">XARL-6791-2A</div>
          <div class="text-wrapper-60">£27.89</div>
          <div class="text-wrapper-61">Finyl Suggested Price</div>
          <div class="ellipse"></div>
          <img class="chatgpt-image-jul" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-6.png" />
          <div class="ellipse-2"></div>
          <img class="img" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-7.png" />
          <div class="ellipse-3"></div>
          <img class="chatgpt-image-jul-2" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-8.png" />
          <div class="ellipse-4"></div>
          <img class="chatgpt-image-jul-3" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-9.png" />
          <div class="ellipse-5"></div>
          <img class="chatgpt-image-jul-4" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-11.png" />
          <div class="ellipse-6"></div>
          <img class="chatgpt-image-jul-5" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-12.png" />
          <div class="ellipse-7"></div>
          <img class="chatgpt-image-jul-6" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-13.png" />
          <div class="ellipse-8"></div>
          <img class="chatgpt-image-jul-7" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-14.png" />
          <div class="ellipse-9"></div>
          <img class="chatgpt-image-jul-8" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-15.png" />
          <div class="ellipse-10"></div>
          <img class="chatgpt-image-jul-9" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-16.png" />
          <div class="ellipse-11"></div>
          <img class="chatgpt-image-jul-10" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-17.png" />
          <div class="ellipse-12"></div>
          <img class="chatgpt-image-jul-11" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-20.png" />
          <div class="ellipse-13"></div>
          <img class="chatgpt-image-jul-12" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-21.png" />
          <div class="ellipse-14"></div>
          <img class="chatgpt-image-jul-13" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-22.png" />
          <div class="ellipse-15"></div>
          <img class="chatgpt-image-jul-14" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-19.png" />
          <img class="chatgpt-image-jul-3" src="img/chatgpt-image-jul-20-2025-at-04-09-26-PM-10.png" />
        </div>
        <div class="overlap">
          <div class="three-lines">
            <img class="line" src="img/line-1.svg" />
            <img class="line-2" src="img/line-2.svg" />
            <img class="line-3" src="img/line-3.svg" />
          </div>
        </div>
        <div class="text-wrapper-62">Hi, Ben 👋</div>
        <img class="chatgpt-image-jul-15" src="img/chatgpt-image-jul-19-2025-at-02-06-09-PM-4.png" />
        <div class="text-wrapper-63">Collection</div>
        <p class="text-wrapper-64">View Your Entire Collection. All Digitalised. Easy Access.</p>
      </div>
    </div>
  </body>
</html>
